<?php
/**
 * @copyright Copyright (c) 2017 Matthias Walter
 * @copyright Copyright (c) 2017 netz98 GmbH (http://www.netz98.de)
 *
 * @see LICENSE
 */

namespace Deployer;

use N98\Deployer\RoleManager;

$local = localhost('local');
$local->user('__ADD_YOUR_LOCAL_USERNAME__');
$local->set('deploy_path', '__ADD_DEPLOY_PATH__');
$local->stage('dev');

$local->set('config_store_env', '__SET_YOUR_CONFIG_STORE_ENV__');
$local->set('webserver_user', '__SET_YOUR_LOCAL_USER__');
$local->set('webserver_group', '__SET_YOUR_LOCAL_GROUP__');
$local->set('bin/n98_magerun2', 'n98-magerun2.phar');

$local->roles('web', 'db');
